name: Deploy Only

on:
  push:
    branches:
      - main

jobs:
  quality:
    name: Quality Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Check Java version
        run: java -version

      - name: Run SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.sources=api-gateway,product-service,inventory-service
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -X


  python_test:
    name: Python Health Test
    runs-on: ubuntu-latest
    needs: quality

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r product-service/requirements.txt
          pip install pytest starlette "httpx==0.24.1"

      - name: Run health test
        run: pytest -v tests/test_product_service.py

  build_and_push:
    name: Build & Push Images
    runs-on: ubuntu-latest
    needs: python_test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
          | docker login --username AWS --password-stdin ${{ secrets.ECR_API_URL }}

      - name: Build images and save outputs
        id: build_all
        run: |
          TAG=${GITHUB_SHA::8}

          docker build -t ${{ secrets.ECR_API_URL }}:$TAG ./api-gateway
          docker push ${{ secrets.ECR_API_URL }}:$TAG

          docker build -t ${{ secrets.ECR_PRODUCT_URL }}:$TAG ./product-service
          docker push ${{ secrets.ECR_PRODUCT_URL }}:$TAG

          docker build -t ${{ secrets.ECR_INVENTORY_URL }}:$TAG ./inventory-service
          docker push ${{ secrets.ECR_INVENTORY_URL }}:$TAG

          echo "API_IMAGE=${{ secrets.ECR_API_URL }}:$TAG" >> image-outputs.env
          echo "PRODUCT_IMAGE=${{ secrets.ECR_PRODUCT_URL }}:$TAG" >> image-outputs.env
          echo "INVENTORY_IMAGE=${{ secrets.ECR_INVENTORY_URL }}:$TAG" >> image-outputs.env

      - name: Upload image outputs
        uses: actions/upload-artifact@v4
        with:
          name: image-outputs
          path: image-outputs.env

  deploy_dev:
    name: Deploy ECS Dev
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Download image outputs
        uses: actions/download-artifact@v4
        with:
          name: image-outputs

      - name: Load variables
        run: |
          source image-outputs.env
          echo "API_IMAGE=$API_IMAGE" >> $GITHUB_ENV
          echo "PRODUCT_IMAGE=$PRODUCT_IMAGE" >> $GITHUB_ENV
          echo "INVENTORY_IMAGE=$INVENTORY_IMAGE" >> $GITHUB_ENV

      - name: Generate TaskDefinition JSON (Dev)
        run: |
          sed \
            -e "s|\${APIGATEWAY_IMAGE}|${{ env.API_IMAGE }}|g" \
            -e "s|\${PRODUCT_IMAGE}|${{ env.PRODUCT_IMAGE }}|g" \
            -e "s|\${INVENTORY_IMAGE}|${{ env.INVENTORY_IMAGE }}|g" \
            infra/ecs-task/task-definition-dev.json > final-task-dev.json

      - name: Register TaskDefinition Dev
        run: |
          NEW_TASK_ARN=$(aws ecs register-task-definition \
            --cli-input-json file://final-task-dev.json \
            --query "taskDefinition.taskDefinitionArn" \
            --output text)
          echo "NEW_TASK_ARN=$NEW_TASK_ARN" >> $GITHUB_ENV

      - name: Update ECS Service Dev
        run: |
          aws ecs update-service \
            --cluster dev-ecs-cluster \
            --service dev-ecs-service \
            --task-definition ${{ env.NEW_TASK_ARN }} \
            --desired-count 1 \
            --force-new-deployment

  deploy_staging:
    name: Deploy ECS Staging
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Download image outputs
        uses: actions/download-artifact@v4
        with:
          name: image-outputs

      - name: Load variables
        run: |
          source image-outputs.env
          echo "API_IMAGE=$API_IMAGE" >> $GITHUB_ENV
          echo "PRODUCT_IMAGE=$PRODUCT_IMAGE" >> $GITHUB_ENV
          echo "INVENTORY_IMAGE=$INVENTORY_IMAGE" >> $GITHUB_ENV

      - name: Generate TaskDefinition JSON (Staging)
        run: |
          sed \
            -e "s|\${APIGATEWAY_IMAGE}|${{ env.API_IMAGE }}|g" \
            -e "s|\${PRODUCT_IMAGE}|${{ env.PRODUCT_IMAGE }}|g" \
            -e "s|\${INVENTORY_IMAGE}|${{ env.INVENTORY_IMAGE }}|g" \
            infra/ecs-task/task-definition-staging.json > final-task-staging.json

      - name: Register TaskDefinition Staging
        run: |
          NEW_TASK_ARN=$(aws ecs register-task-definition \
            --cli-input-json file://final-task-staging.json \
            --query "taskDefinition.taskDefinitionArn" \
            --output text)
          echo "NEW_TASK_ARN=$NEW_TASK_ARN" >> $GITHUB_ENV

      - name: Update ECS Service Staging
        run: |
          aws ecs update-service \
            --cluster staging-ecs-cluster \
            --service staging-ecs-service \
            --task-definition ${{ env.NEW_TASK_ARN }} \
            --desired-count 1 \
            --force-new-deployment

  deploy_prod:
    name: Deploy ECS Prod
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Download image outputs
        uses: actions/download-artifact@v4
        with:
          name: image-outputs

      - name: Load variables
        run: |
          source image-outputs.env
          echo "API_IMAGE=$API_IMAGE" >> $GITHUB_ENV
          echo "PRODUCT_IMAGE=$PRODUCT_IMAGE" >> $GITHUB_ENV
          echo "INVENTORY_IMAGE=$INVENTORY_IMAGE" >> $GITHUB_ENV

      - name: Generate TaskDefinition JSON (Prod)
        run: |
          sed \
            -e "s|\${APIGATEWAY_IMAGE}|${{ env.API_IMAGE }}|g" \
            -e "s|\${PRODUCT_IMAGE}|${{ env.PRODUCT_IMAGE }}|g" \
            -e "s|\${INVENTORY_IMAGE}|${{ env.INVENTORY_IMAGE }}|g" \
            infra/ecs-task/task-definition-prod.json > final-task-prod.json

      - name: Register TaskDefinition Prod
        run: |
          NEW_TASK_ARN=$(aws ecs register-task-definition \
            --cli-input-json file://final-task-prod.json \
            --query "taskDefinition.taskDefinitionArn" \
            --output text)
          echo "NEW_TASK_ARN=$NEW_TASK_ARN" >> $GITHUB_ENV

      - name: Update ECS Service Prod
        run: |
          aws ecs update-service \
            --cluster prod-ecs-cluster \
            --service prod-ecs-service \
            --task-definition ${{ env.NEW_TASK_ARN }} \
            --desired-count 1 \
            --force-new-deployment
