name: Deploy Only

on:
  workflow_dispatch:

jobs:
  build_and_push:
    name: Build & Push Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
          | docker login --username AWS --password-stdin ${{ secrets.ECR_API_URL }}

      - name: Build images and save outputs
        id: build_all
        run: |
          TAG=${GITHUB_SHA::8}

          docker build -t ${{ secrets.ECR_API_URL }}:$TAG ./api-gateway
          docker push ${{ secrets.ECR_API_URL }}:$TAG

          docker build -t ${{ secrets.ECR_PRODUCT_URL }}:$TAG ./product-service
          docker push ${{ secrets.ECR_PRODUCT_URL }}:$TAG

          docker build -t ${{ secrets.ECR_INVENTORY_URL }}:$TAG ./inventory-service
          docker push ${{ secrets.ECR_INVENTORY_URL }}:$TAG

          echo "API_IMAGE=${{ secrets.ECR_API_URL }}:$TAG" >> image-outputs.env
          echo "PRODUCT_IMAGE=${{ secrets.ECR_PRODUCT_URL }}:$TAG" >> ima_

