name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'El entorno a destruir'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - staging
          - prod

jobs:
  terraform-destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: "us-east-1"

      - name: Terraform Init
        working-directory: infra/terraform
        run: terraform init -backend-config="bucket=bucket-stockwiz-tf" -backend-config="key=${{ github.event.inputs.environment }}/terraform.tfstate" -backend-config="region=us-east-1"

      - name: Terraform Destroy
        working-directory: infra/terraform
        run: terraform destroy -var-file="${{ github.event.inputs.environment }}.tfvars" -var="sender_email=${{ secrets.SENDER_EMAIL }}" -var="app_password=${{ secrets.APP_PASSWORD }}" -var="environment=${{ github.event.inputs.environment }}" -var="ecr_product_url=${{ secrets.ECR_PRODUCT_URL }}" -var="ecr_inventory_url=${{ secrets.ECR_INVENTORY_URL }}" -var="ecr_api_url=${{ secrets.ECR_API_URL }}" -auto-approve
